
/*body {
    margin: 0;
    font-family: Arial, sans-serif;
}*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #a50f0b /*#fff */;
    border-bottom: 2px solid #a50f0b;
}

/*.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 40px;
        margin-right: 10px;
    }

    .logo span {
        font-size: 24px;
        color: #a50f0b;
        font-weight: bold;
    }*/

.nav a {
    text-decoration: none;
    color: #a50f0b;
    font-size: 18px;
    margin-left: 20px;
}

    .nav a:hover {
        text-decoration: underline;
    }


body {
    background-color: #f8f9fa; /* Light gray background */
    font-family: Arial, sans-serif; /* Set the font */
}


.text-box2 {
    text-align: center; /* Centers text horizontally in its container */
    color: #FFFFFF; /* Sets the text color to white */
    background-color: #732741;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Optional: adds shadow for better visual separation */
    margin: 4px 7px 7px 4px
}

.containerAll {
    width: 100%;
    margin: 20px auto; /* Center the container */
    display: flex; /* Establishes a flex container */
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures even spacing between items */
    background-color: #ffffff; /* White background for the container */
    padding: 20px; /* Adds padding inside the container */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
}

.containerAll .contact-box {
    padding: 20px; /* Adds padding inside the text box for better readability */
    width: 16%;
    background-color: #FFFFFF; /* Sets the background color to white */
    height: 300px;
    box-shadow: 4px 4px 8px rgba(207, 112, 0, 0.1);
    background-color:#e3e3e3
    /*border: 3px solid #d67f09;
    border-radius: 0px;*/
}

.containerAll .container1 {
    width: 75%;
    justify-content: center;
    margin: 20px auto; /* Center the container */
    border: 3px solid #413e3e;
    background-color:#f8f9fa;
    /*border-radius: 0px;
    box-shadow: 0px 6px 10px rgb(0, 0, 0, 0.1);*/
}

.container1 .img-bar {
        height: auto; /* Maintain the aspect ratio of the image */
        width: 100%;
}

.container1 .text-box {
        padding: 20px; /* Adds padding inside the text box for better readability */
        background-color: #fff0; /* Sets the background color to white */
        /*box-shadow: 0px 4px 8px rgb(248, 158, 7, 0.10);*/ /* Optional: adds a subtle shadow for depth */
}

.contact-box-2 {
    justify-content: center;
    margin: 20px auto; /* Center the container */
    border: 3px solid #413e3e;
    background-color: #f8f9fa;
    border-radius: 0px;
    box-shadow: 0px 6px 10px rgb(0, 0, 0, 0.1);
}


















/*.container {*/
    /*width: 80%;
    margin: auto;*/ /* Center the container */


    /*display: flex;*/ /* Establishes a flex container */
    /*flex-direction: row;
    flex-wrap: wrap;*/
    /*align-items: center;*/ /* Vertically aligns the children in the middle */
    /*justify-content: center;*/ /* Horizontally centers the content within the container */

    /*padding: 20px;*/ /* Adds padding inside the container */
/*}



.img-bar {*/
    /*max-width: 50%;*/ /* Make image responsive */
    /*display: block;*/ /* Remove bottom margin/gap */

    /*width: 50%;*/ /* Assign half of the container's width to the image */
    /*height: auto;*/ /* Maintain the aspect ratio of the image */
    /*margin-right: 20px;*/ /* Adds some space between the image and the text box */
    /*padding = 20px;
}

.text-box {*/
    /*background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);*/ /* Optional: adds shadow for better visual separation */

    /*width: 50%;*/ /* Assign the remaining half of the container's width to the text box */
    /*padding: 20px;*/ /* Adds padding inside the text box for better readability */
    /*background-color: #fff;*/ /* Sets the background color to white, can be changed as needed */
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/ /* Optional: adds a subtle shadow for depth */
/*}*/
