@page
@model IndexModel
@{
    ViewData["Title"] = "VTSIAC-HOME";
}

<body>
    <div class="text-box2">
        <h1 class="display-4">Welcome to Virginia Tech Spanish Immersion Argentina-Chile!</h1>
   </div>
    <div class="containerAll">
        <div class = "contact-box">
            <h1 style="font-size:13px">
                <b>VTSIAC Principal Contact:</b>
            </h1>
            <p style="font-size:17px; color: #a50f0b">
                <strong><ins>Vijay Mannava</ins></strong>
            </p>
            <p style="font-size:11px">
                Email: vijaym@vt.edu
            </p>
            <br />
            @*Ryan's contact below*@
            <h2 style="font-size:13px">
                <b>VTSIAC Treasurer Contact:</b>
            </h2>
            <p style="font-size:17px; color: #a50f0b">
                <strong><ins>Ryan Doe</ins></strong>
            </p>
            <p style="font-size:11px">
                Email: ryan03@vt.edu
            </p>
        </div>
        <div class="container1">
            <img src="images/santiago-1.png"; class="img-bar"> @* image and text box are in the same container*@
            <p><small>> Santiago, Chile </small></p>
            <div class="text-box">
                <h1 style="color:#d67f09; font-size:24px"> Learn more about what the VTSIAC has to offer!</h1>
                <p>VTSIAC has been Virginia Tech's' most popular student led spanish immersion program for the last 3 years
                and running. Amongst Hokies striving to fufill the pratical requirement of the Spanish Minor, VTSIAC has been voted
                the best program for maximizing learning and significantly enhancing Spanish language proficiency by, on average, 38%. Hokies who have
                participated in VTSIAC are 4.3 times more likely to secure jobs with salaries exceeding $84,000 annually, compared to those enrolled in 
                the Spanish major or minor who have not gone through VTSIAC.
                </p><br />
                
            </div>
            <img src="images/bariloche-winter-2.png" class="img-bar" alt="San Carlos de Barilioche, Argentina"><br />
            <p><small>> San Carlos de Barilioche, Argentina </small></p>
            <div class="text-box">
            
                <h2 style="color:#d67f09; font-size:24px">
                    Two-Week Ski and Spanish Immersion Trip: Chile and Argentina Overview:
                </h2>
                <p> Embark on an unforgettable two-week Experience that combines exhilarating skiing with immersive Spanish language learning. 
                    Our student-led Spanish immersion program is designed to, above all, enhance language skills and cultural understanding as well as enjoy
                    some of the world's most stunning ski destinations in Chile and Argentina. For this year, we are thrilled to announce that, with the help of our generous Alumni and 
                    the Virginia Tech Foundation, the total VTSIAC cost has been reduced from 4,900$ to 2,700$!
                </p> <br />
                <h3 style="color:#d67f09; font-size:24px">
                    Itinerary:
                </h3>
                <a href="/Itinerary" class="btn btn-primary" role="button">Details and Intinerary</a>
                <br />

                <h4 style="color:#d67f09; font-size:24px"><br />
                    A testimonial from the Principal Contact:
                </h4><br />
                <p>
                    <i>
                        
                            "The Two-Week Ski and Spanish Immersion Trip to Chile and Argentina was truly a life-changing experience. As someone who had only studied Spanish in a classroom setting,
                            this program offered an unparalleled opportunity to immerse myself in the language and culture in a way that no textbook ever could. The daily interactions with locals in 
                            Santiago and San Carlos de Bariloche, whether it was while skiing down the beautiful slopes of Valle Nevado or exploring the vibrant streets of Bariloche, significantly boosted 
                            my Spanish proficiency.<br /><br /> One of the most impactful aspects of the trip was the blend of structured language practice with real-world application. In Chile, our mornings were 
                            spent skiing, where we practiced Spanish with our instructors and fellow skiers. Afternoons were dedicated to cultural activities, such as visiting local markets, historical sites, and 
                            dining at traditional Chilean restaurants. This seamless integration of language learning with cultural immersion made the entire process both enjoyable and effective.
                            <br /><br />The week in Argentina was equally enriching. Skiing in the Andes was a dream come true, but what stood out even more was the warm hospitality of the Argentine people. From 
                            engaging conversations with people from other spanish-speaking countries to exploring rural areas and interacting with artisans, every moment was a chance to improve my language skills. The confidence I 
                            gained from using Spanish in these diverse settings has been invaluable.<br /><br />Professionally, this trip has had a profound impact on my career. The enhanced Spanish skills I
                            acquired have opened up new opportunities for me. I was able to secure an internship with a multinational company where my bilingual abilities were a key asset. This experience
                            not only enriched my resume but also gave me a competitive edge in the job market. The cultural competencies I developed have been equally important, helping me to navigate and
                            succeed in an increasingly globalized workplace.<br /><br />And let's not forget the skiing! The thrill of skiing in two of South America's premier destinations was incredible. It 
                            provided a perfect balance of adventure and relaxation, making the learning experience all the more enjoyable. I can't recommend this program enough for anyone looking to combine 
                            their passion for skiing with a meaningful Spanish immersion experience.<br /><br />Overall, the Two-Week Ski and Spanish Immersion Trip is more than just a vacation; it's an investment
                            in your personal and professional development. The skills and experiences I gained are something I will carry with me for the rest of my life. If you have the chance to join this program, there is only answer: I'm there!
                            Parents, this would be an amazing graduation/birthday gift. Go Hokies!"<br /><br />    -Vijay M., Class of 2025
                    </i><br />
                </p>
                <h4 style="color:#d67f09; font-size:24px">
                    A testimonial from a previous student:
                </h4><br />
                <p>
                    <i>
                        
                            "The Two-Week Ski and Spanish Immersion Trip to Chile and Argentina was an absolutely incredible experience. From the moment we landed in Santiago, I was immersed in the Spanish language and Chilean culture. Skiing at Valle Nevado was breathtaking, but what made it truly special was practicing Spanish with local instructors and fellow skiers. It felt like every moment was a learning opportunity.

                            The transition to San Carlos de Bariloche in Argentina for the second week was seamless and equally exciting. The combination of skiing in the stunning Andes and engaging with the local community was perfect. I loved exploring the vibrant city, visiting rural areas, and speaking Spanish in real-life situations. This immersion significantly boosted my confidence in using the language.

                            This trip has had a lasting impact on my career. The improved Spanish skills I gained helped me land a job with an international company, where I use Spanish daily. The cultural insights and language proficiency have made me a more effective communicator and a valuable team member. Plus, the memories of skiing in such beautiful places are unforgettable!

                            I highly recommend this program to anyone looking to enhance their Spanish skills and enjoy an adventurous and educational trip. It’s a perfect blend of language learning, cultural immersion, and thrilling skiing experiences."<br /><br /> -Caroline T., Class of 2023
                        
                    </i>
                </p>
            </div>
        </div>
    </div>
</body>


