@page
@model InterestModel
@{
    ViewData["Title"] = "VTSIAC Interest";
}

<body>
    <div class="text-box2">
        <h1 class="display-4">VTSIAC Interest</h1>
    </div>
    <div class="text-box">
        <h1 style="color:#d67f09;"> <br />Want to come along?!</h1>
        <p>
            Our principal contact is more than happy to answer any questions and welcome you to the VTSIAC program. Feel free to contact him by email or phone, contact information located on the homepage.. 
        </p>
        <a href="/Index" class="btn btn-primary" role="button">Home</a>

        <h2 style="color: #d67f09;"> <br />Here are some more pictures from previous years! -Ryan Doe<br /></h2>
            <img src="images/group-pic-ski-1.png" class="img-bar" alt="Cerro Catedral, Argentina" style="width: 100%; height: auto"><br />
            <p><small>>Cerro Catedral, Argentina (2023) </small></p><br />
            <img src="images/observation-tower-santiago.png" class="img-bar" alt="Santiago, Chile"><br />
            <p><small>>Gran Torre Costanera tower, tallest building in South America, located in Chile </small></p>
    </div>
</body>
