@page
@model PrivacyModel
@{
    ViewData["Title"] = "VTSIAC Itinerary";
}

<body>
    <style>
        .indented-block {
            margin-left: 20px; /* Adjust the value as needed */
        }
    </style>
    <style>
        .indented-block-2 {
            margin-left: 40px; /* Adjust the value as needed */
        }
    </style>
    <div class="text-box2">
        <h1 class="display-4">VTSIAC Itinerary<br /></h1>
   </div>
    

    <h3 style="color: #d67f09"><br />Week 1: Skiing and Culture in Chile</h3>
    <div class="indented-block">
        <p style="color: #a50f0b">
            <b>Travel Day:</b>
        </p>
        <div class="indented-block-2">
            <b>August 6 (Day 1): Departure from Washington Dulles International Airport (IAD)</b>
            <p>Students will depart from Washington Dulles International Airport (IAD) and fly to Santiago International Airport (SCL), marking the beginning of their immersive journey.<b> Please note: students are expected to make their own flight arrangements according to the itinerary.</b> For any questions or concerns please reach out to the VTSIAC treasurer contact.</p>
        </div>

        <h4>August 7 - August 12 (Days 2-7): Santiago, Chile</h4>
        <p><strong>Housing: </strong>Lodging will be provided by the renouned <a href="https://www.booking.com/hotel/cl/hostal-cordillera-farellones.en-gb.html?aid=2210273&label=nGzG9ndd_xLp4kkXy7e9unFfUJKJDGY4-jqLHQUFhT7tFOoYArFUOYA%3D%3D&sid=d06f980bc60fcf55e57038cdcb14d0de&all_sr_blocks=232226320_174570176_1_0_0%2C232226313_174570176_0_0_0;checkin=2024-08-07;checkout=2024-08-13;dest_id=-882572;dest_type=city;dist=0;group_adults=3;group_children=0;hapos=1;highlighted_blocks=232226320_174570176_1_0_0%2C232226313_174570176_0_0_0;hpos=1;matching_block_id=232226320_174570176_1_0_0;no_rooms=1;req_adults=3;req_children=0;room1=A%2CA%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=232226320_174570176_1_0_0__42894%2C232226313_174570176_0_0_0__94443;srepoch=1716412086;srpvid=2e7994971a84025a;type=total;ucfs=1&#hotelTmpl">Cordillera Hostel<a> located 16 min from the heart of Santiago and 12 min from Valle Nevado Ski Resort.Please note all VTSIAC housing included lockboxes to secure personal valuables.</p>
        <p><strong>Arrival and Orientation:</strong> Upon arrival in Santiago on August 7, students will be welcomed and oriented to the program's schedule and expectations.</p>
        <p><strong>Skiing at Valle Nevado:</strong> For the next six days, students will enjoy skiing at the renowned Valle Nevado resort. Each day will start with morning ski sessions, where students can practice Spanish with ski instructors and fellow participants.</p>
        <p><strong>Cultural Excursions:</strong> Afternoons will be dedicated to exploring Santiago’s rich cultural heritage. Students will visit historic landmarks such as Plaza de Armas, the Chilean Museum of Pre-Columbian Art, and La Moneda Palace.</p>
        <p><strong>Local Interactions:</strong> Evenings will be filled with local culinary experiences, visits to vibrant markets like Mercado Central, and interactions with Chilean locals to practice conversational Spanish.</p>
        <p style="color: #a50f0b">
            <b>Travel Day:</b>
        </p>
        <div class="indented-block-2">
            <b>August 13 (Day 8): Travel to San Carlos de Bariloche, Argentina</b>
            <p>Flight from SCL to BRC: Students will depart from Santiago International Airport and fly to San Carlos de Bariloche Airport (BRC), via a connecting flight, ready to embark on the second part of their adventure.</p>
        </div>
    </div>
    <h3 style="color: #d67f09"><br />Week 2: Skiing and Culture in Argentina</h3>
    <h4>August 14 - August 20 (Days 9-15): San Carlos de Bariloche, Argentina</h4>
    <p><strong>Housing: </strong>Housing will be provided by the highly reviewed <a href="https://www.hostelworld.com/pwa/hosteldetails.php/Hospedaje-Penthouse-1004/Bariloche/59459?source=affiliate-PHG-1100lHEC&affiliate=PHG&ref_id=1100lywzpVgz&utm_medium=AFFILIATE&utm_source=thebrokebackpacker&uniqueclickID=1100lywzpVgz&utm_content=hostels_bariloche&from=2024-05-23&to=2024-05-24">Hospedaje Penthouse 1004</a>, located in the heart San Carlos de Bariloche.</p>
    <p><strong>Arrival and Introduction:</strong> Upon arrival in Bariloche on August 13, students will be introduced to the local culture and surroundings.</p>
    <p><strong>Skiing in the Andes:</strong> Students will ski in the beautiful Andean slopes, with daily morning sessions focusing on skiing and practicing Spanish with local instructors.</p>
    <p><strong>Cultural Immersion:</strong> Afternoons will be filled with enriching cultural activities. Students will explore the charming city of Bariloche, known for its Swiss alpine-style architecture and local chocolate shops.</p>
    <p><strong>Rural Excursions:</strong> The program includes excursions to rural areas, where students will interact with local artisans, visit traditional farms, and learn about Argentine rural life.</p>
    <p><strong>Community Engagement:</strong> Students will engage with the welcoming Argentine community through organized activities, enhancing their language skills and cultural understanding.</p>
    <p style="color: #a50f0b">
        <b>Travel Day:</b>
    </p>
    <div class="indented-block-2">
        <b>August 20 (Day 15): Return Journey</b>
        <p>Flight from BRC to IAD: On August 20, students will fly from San Carlos de Bariloche Airport (BRC) back to Santiago International Airport (SCL), and then onward to Washington Dulles International Airport (IAD), arriving home on August 21.</p>
    </div>
    
    <div class="highlight">
        <h2 style="color: #d67f09">Program Highlights</h2>
        <p><strong>Daily Language Practice:</strong> Students will develop language proficiency through daily use and interaction in Spanish, both on and off the slopes.</p>
        <p><strong>Cultural Immersion:</strong> Exposure to informal settings, including interactions with locals, cultural activities, and exploring the unique traditions of Chile and Argentina.</p>
        <p><strong>Skiing Experience:</strong> Enjoy skiing at two world-class destinations, Valle Nevado in Chile and the Andean slopes of Bariloche in Argentina.</p>
        <p><strong>Cultural Excursions:</strong> Guided tours of historic sites, museums, and scenic locations, providing a comprehensive cultural experience.</p>
        <p><strong>Accommodation:</strong> Comfortable lodging with opportunities to practice Spanish with other travelers and Americans, ensuring a supportive and immersive environment.</p>
    </div>

    <a href="/Interest" class="btn btn-primary" role="button">Interested?</a>
</body>
